@font-face {
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: normal;
  src: url("./../../../assets/fonts/Acumin-RPro.woff") format("woff");
}

@font-face {
  font-family: "Acumin Pro Italic";
  font-style: normal;
  font-weight: normal;
  src: url("./../../../assets/fonts/Acumin-ItPro.woff") format("woff");
}

@font-face {
  font-family: "Acumin Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./../../../assets/fonts/Acumin-BdPro.woff") format("woff");
}

@font-face {
  font-family: "Acumin Pro Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: url("./../../../assets/fonts/Acumin-BdItPro.woff") format("woff");
}
