@import "./../../styles/partials/global";

.alert {
  font-size: 1.5rem;

  &__name {
    color: $color-secondary;
  }
  &__icon {
    display: flex;
    flex-direction: row;
    width: 3rem;
    justify-content: space-around;
    align-items: center;

    p {
      padding-top: 0.2rem;
    }
  }
  &__img {
    border-radius: 0.5rem;
  }
}

img {
  border-radius: 0.5rem;
}

.catDetails {
  @include desktop {
    @include wrap($max-width, $margin-center);
    width: 50rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
  }
  &__info,
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__shelter {
    width: 100%;
    padding: 1rem 0;
    color: $color-secondary;
    font-weight: bold;
    font-size: 1rem;
    border-bottom: solid 0.0625rem $color-secondary;
    &-link {
      cursor: pointer;
      &:hover {
        color: $color-secondary-dark;
      }
    }
    &-icon {
      padding-left: 0.5rem;
    }
  }
  &__info {
    color: $color-secondary;
    font-weight: bold;
    padding: 0.5rem 0;
    border-bottom: solid 0.0625rem $color-secondary;
  }
  &__description {
    padding: 1rem 0;
  }
  &__adopt {
    @include button($color-secondary, $color-light, $color-primary, 10rem);
  }

  &__requested {
    cursor: none;
    @include button($color-tertiary, $color-light, $color-tertiary, 10rem);
  }
  &__like {
    cursor: pointer;
    color: grey;
  }

  &__liked {
    color: $color-validation;
    cursor: pointer;
  }
  &__back {
    margin: 1rem 0 0.2rem 0.6rem;
    cursor: pointer;
    &:hover {
      color: $color-secondary-dark;
    }
  }
}
