@import "./../../styles/partials/global";

.request {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include desktop {
    justify-content: flex-start;
    margin-left: 1rem;
  }

  &__container {
    margin: 1rem 0.5rem;
    background-color: $color-light-dark;
    min-width: 17rem;
    max-width: 17rem;
    border-radius: 0.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0.5rem 1rem 0.5rem;
  }
  &__status {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__status.received {
    @include status(check, #84a59d);
  }
  &__status.inReview {
    @include status(progress, #8ecae6);
  }
  &__status.approved {
    @include status(paw, #88cab5);
  }
  &__status.declined {
    @include status(declined, #f07167);
  }
  &__cancel {
    color: $color-secondary;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
      //   color: $color-light-dark;
    }
  }
}
