@import "./../../styles/partials/global";

.favoritesCats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include desktop {
    justify-content: flex-start;
    margin-left: 1rem;
  }
}
