@import "./../../styles/partials/global";

.dropdown {
  &__container {
    position: relative;
  }
  &__trigger {
    @include flex-default(center, center);
  }
  &__body {
    @include flex(column, stretch, space-evenly);
    position: absolute;
    width: 100%;
    top: 100%;
    right: 0.6875rem;
    width: 18rem;
    height: 18em;
    padding: 0.625rem;
    background-color: $color-light;
    box-shadow: $box-shadow;
    z-index: 2;
    border-radius: 0.3rem;
  }
  &__content {
    width: 100%;
  }
  &__icon-filter {
    background-color: $color-secondary;
    color: $color-light;
    padding: 0.7rem;
    border-radius: 1.5rem;
    margin: 0 0.5rem;
    cursor: pointer;
    &:hover {
      background-color: $color-secondary-dark;
    }
  }
  &__label {
    color: $color-secondary-darker;
    font-weight: bold;
    font-size: 0.9rem;
  }
  &__input {
    margin: 0.2rem 0.2rem 0.5rem 0;
    background-color: $color-light;
    border: 0.0625rem solid $color-primary;
    border-radius: 0.4rem;
    overflow: hidden;
    float: left;
    cursor: pointer;

    label {
      float: left;
      width: 3.5rem;
      cursor: pointer;
    }

    label span {
      text-align: center;
      padding: 0.4rem 0 0.3rem 0;
      display: block;
    }

    label input {
      position: absolute;
      display: none;
    }
    label input + span {
      color: $color-secondary;
    }

    input:checked + span {
      color: $color-secondary-darker;
      background-color: $color-primary;
    }
  }
  &__select {
    background-color: inherit;
    color: $color-secondary-darker;
    border: none;
    border-bottom: solid 0.125rem $color-secondary;
    margin: 0 0 1rem 0;
    padding: 0 0 0.5rem 0;
    width: 100%;
    outline: none;
    font-size: 0.9rem;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      outline: none;
    }
  }
  &__buttons {
    @include flex(row, center, space-between);
    width: 100%;
    &-matches {
      @include button(
        $color-secondary,
        $color-light,
        $color-secondary-dark,
        8rem
      );
    }
    &-clear {
      @include button($color-light, $color-secondary, $color-light-dark, 8rem);
      @include border-all(0.0625rem, solid, $color-secondary);
    }
  }
}
