@import "./../../styles/partials/global";

.signIn {
  @include flex-direction(column);

  &__content {
    @include flex-direction(column);
  }
  &__label {
    color: $color-secondary-darker;
    font-weight: bold;
    font-size: 0.9rem;
  }
  &__input {
    background-color: inherit;
    color: $color-secondary;
    border: none;
    border-bottom: solid 0.0625rem $color-secondary;
    margin: 0 0 1rem 0;
    padding: 0 0 0.5rem 0;
    width: 100%;
    outline: none;
    font-size: 0.9rem;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $color-secondary;
    }
  }
  &__icon {
    float: right;
    position: relative;
    bottom: 2.6rem;
    background-color: inherit;
    color: $color-secondary;
    cursor: pointer;
  }
  &__button {
    @include button(
      $color-secondary,
      $color-light,
      $color-secondary-dark,
      100%
    );
  }
}
