@import "./../../styles/partials/global";

.header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  background-color: $color-light;
  @include desktop {
    @include wrap($max-width, $margin-center);
  }
  &__wrapper {
    @include full-width($color-light);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    color: $color-dark;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  &__menu {
    color: $color-secondary;
  }
  &__img {
    margin-right: 0.3rem;
  }
}
