@import "./../../styles/partials/global";
.footer {
  width: 100%;
  @include flex-default(center, center);
  padding: 1.5rem;
  &__text {
    font-weight: 400;
    font-size: 0.6875rem;
    color: $color-secondary;
  }
}
