// colours base;
$color-light: #ffffff;
$color-primary: #ffd6c8;
$color-secondary: #dea48f;
$color-tertiary: #dcdcdc;
$color-validation: #a03015;
$color-dark: #323232;
$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$color-check: #84a59d;
$color-progress: #8ecae6;
$color-paw: #88cab5;
$color-declined: #f07167;

// colours dark;
$color-light-dark: #fff2ed;
$color-secondary-dark: #fabfab;
$color-secondary-darker: #a5573b;
$color-tertiary-dark: #8f8f8f;

// responsive design
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//width
$width: 100%;

// larger displays
$max-width: 1280px;
$margin-center: 0 auto;
