// colours base;
$color-light: #ffffff;
$color-primary: #ffd6c8;
$color-secondary: #dea48f;
$color-tertiary: #dcdcdc;
$color-validation: #d22d2d;

// colours dark;
$color-light-dark: #fff2ed;

// responsive design
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//width
$width: 100%;

// larger displays
$max-width: 1280px;
$margin-center: 0 auto;
